<div style="margin-left: 10px;">
<%= form_for @tobuy do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :quantity %><br>
  <%= f.text_field :quantity %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
</div>
