<%= form_tag '/weather.json', remote: true, method: :get do %>
   <input type="text" id='city-input' class="form-control" name="city" placeholder="Enter city" aria-describedby="basic-addon2">
 <input type="submit" id="submit-city" class="btn btn-default" value="Submit">
<%- end %>

  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

  <div id="weather">
    <center><h1>Warsaw</h1>
    <img src="cloudy.png" />
      <div id="desc">
        <h2><img src="thermometer.png" width="25"><%= @weather.temp %></h2>
        <h2><img src="barometer.png" width="25"/><%= @weather.pressure %></h2>
        <h2><img src="wind-sign.png" width="25"/><%= @weather.speed %></h2>
        <h2><img src="raindrop.png" width="25"/><%= @weather.humidity %></h2>
        <h2><img src="dawn.png" width="25"/><%= @weather.sunrise %></h2>
        <h2><img src="sunset.png" width="25"/><%= @weather.sunset %></h2>
      </div>
</div>
